# What should be ignored by git


# python
__pycache__/
*.npy

# emacs
auto/
*.*~

# TeX
*.pdf
*.idx
*.log
*.out
*.aux
*.synctex.gz
*.ilg
*.ind
*.rel
*.bbl
*.blg

# Jupyter Notebook
.ipynb_checkpoints


